body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-weight: 200;
  font-size: 3rem;
}
.container {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#clockFace {
  width: 98.5%;
  height: 72px;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  margin: auto;
  line-height: 72px;
  box-sizing: border-box;
  font-size: 36px;
  text-align: center;
}

#clockFace > span {
  font-size: 14px;
}
.row {
  display: flex;
  justify-content: center;
}

.key {
  background-color: #dfe1e5;
  border-radius: 4px;
  border: 1px solid #dfe1e5;
  display: inline-block;
  cursor: pointer;
  color: #202124;
  font-size: 14px;
  line-height: 24px;
  margin: 2px;
  width: 94px;
  text-decoration: none;
  text-align: center;
}
.key:hover {
  background-color: #e8eaeb;
  border-color: #e8eaeb;
}
.key:active {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

#startButton {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  margin: 2px;
  width: 94px;
  text-decoration: none;
  text-align: center;
  background: #4285f4;
  color: #fff;
  border: 1px solid #4285f4;
  border-radius: 4px;
}
#startButton:hover {
  background: #4d8bf1;
  border-color: #4d8bf1;
}
#startButton:active {
  background: #4d8bf1;
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.45),
    0 3px 6px 2px rgba(66, 133, 244, 0.3);
}

#resetButton {
  background-color: #dfe1e5;
  border-radius: 4px;
  border: 1px solid #dfe1e5;
  display: inline-block;
  cursor: pointer;
  color: #202124;
  font-size: 14px;
  line-height: 24px;
  margin: 2px;
  width: 94px;
  text-decoration: none;
  text-align: center;
}
#resetButton:hover {
  background-color: #e8eaeb;
  border-color: #e8eaeb;
}
#resetButton:active {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
